# Ch 5. Lists, tuples, and sets

* Manipulating lists and list indices
* Modifying lists
* Sorting
* Using common list operations
* Handling nested lists and deep copies
* Using tuples
* Creating and using sets

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 5.1 Lists are like arrays

In [2]:
print(f"len([0]) should be 1: {len([0])}")
print(f"len([]) should be 0: {len([])}")
print(f"len([[1, 3, [4, 5], 6], 7]) should be 2: {len([[1, 3, [4, 5], 6], 7])}")

len([0]) should be 1: 1
len([]) should be 0: 0
len([[1, 3, [4, 5], 6], 7]) should be 2: 2

## 5.2 List indices

In [3]:
x = ["first", "second", "third", "fourth"]
print("Positive indices:")
for i in [0,1,2,3]:
    print(f"x[{i}] = {x[i]}")

print("Negative indices:")
for i in [-4, -3, -2, -1]:
    print(f"x[{i}] = {x[i]}")

Positive indices:
x[0] = first
x[1] = second
x[2] = third
x[3] = fourth
Negative indices:
x[-4] = first
x[-3] = second
x[-2] = third
x[-1] = fourth

### Slicing!
Think of the indices placed between the elements

`x  = ["first", "second", "third", "fourth"]  `

`pos  0        1         2        3        4  `

`neg -4       -3        -2       -1           `

In [4]:
print(f"x[1:-1] = {x[1:-1]}")
print(f"x[0:3] = {x[0:3]}")
print(f"x[-2:-1] = {x[-2:-1]}")
print(f"x[-4:0] = {x[-4:0]}")
print(f"x[3:1] = {x[3:1]}")

x[1:-1] = ['second', 'third']
x[0:3] = ['first', 'second', 'third']
x[-2:-1] = ['third']
x[-4:0] = []
x[3:1] = []

In [5]:
print(f"x[:3] = {x[:3]}")
print(f"x[2:] = {x[2:]}")
print(f"x[:] = {x[:]}")

x[:3] = ['first', 'second', 'third']
x[2:] = ['third', 'fourth']
x[:] = ['first', 'second', 'third', 'fourth']

In [6]:
y = x[:]
y[0] = "1 st"
print(x)
print(y)

['first', 'second', 'third', 'fourth']
['1 st', 'second', 'third', 'fourth']

How to get second half of an arbitrary list?

In [7]:
x[(len(x) // 2):]

['third', 'fourth']

## 5.3 Modifying lists

In [8]:
x = [1,2,3,4]
x[1] = "two"
x

[1, 'two', 3, 4]

In [9]:
x = [1, 2, 3, 4]
x[len(x):] = [5, 6, 7]
x
x[:0] = [-1, 0]
x
x[1:-1] = []
x

[1, 2, 3, 4, 5, 6, 7]

[-1, 0, 1, 2, 3, 4, 5, 6, 7]

[-1, 7]

In [10]:
x = [1, 2, 3]
x.append("four")
x

[1, 2, 3, 'four']

In [11]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.append(y)
x # oh no!

[1, 2, 3, 4, [5, 6, 7]]

In [12]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.extend(y)
x # yay!

[1, 2, 3, 4, 5, 6, 7]

In [13]:
x = [1, 2, 3]
x.insert(2, "hello") # think as insert just before element 2
print(x)
x.insert(0, "start")
print(x)

[1, 2, 'hello', 3]
['start', 1, 2, 'hello', 3]

In [14]:
x = [1, 2, 3]
x.insert(-1, "hello")
print(x)

[1, 2, 'hello', 3]

In [15]:
x = ['a', 2, 'c', 7, 9, 11]
del x[1]
x
del x[:2]
x

['a', 'c', 7, 9, 11]

[7, 9, 11]

In [16]:
x = [1, 2, 3, 4, 3, 5]
x.remove(3)
x
x.remove(3)
x
x.remove(3) #fails
x

[1, 2, 4, 3, 5]

[1, 2, 4, 5]

ValueError: list.remove(x): x not in list

In [17]:
x = [1, 3, 5, 6, 7]
x.reverse()
x

[7, 6, 5, 3, 1]

In [18]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10]
last3 = x[-3:]
del x[-3:]
x[0:0] = last3
print(x)

[8.0, 'item 9', 10, 'item 1', 2, 3j, 4.0, 'item 5', 6, 7j]

In [19]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10]
x = x[-3:] + x[:-3]
print(x)

[8.0, 'item 9', 10, 'item 1', 2, 3j, 4.0, 'item 5', 6, 7j]

## 5.4 Sorting lists

In [20]:
x = [3, 8, 4, 0, 2, 1]
x.sort()
x

[0, 1, 2, 3, 4, 8]

In [21]:
x = [2, 4, 1, 3]
y = x[:]
y.sort()
y
x
sorted(x)

[1, 2, 3, 4]

[2, 4, 1, 3]

[1, 2, 3, 4]

In [22]:
x = ["Life", "Is", "Enchanting"]
sorted(x)
x

['Enchanting', 'Is', 'Life']

['Life', 'Is', 'Enchanting']

In [23]:
x = [1, 2, "hello", 3]
x.sort() # mixed types, fail

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
x = [[3,5], [2,9], [2,3], [4,1], [3,2]]
x.sort()
x
x.sort(reverse=True)
x

[[2, 3], [2, 9], [3, 2], [3, 5], [4, 1]]

[[4, 1], [3, 5], [3, 2], [2, 9], [2, 3]]

### custom sorting

In [25]:
def compare_num_of_chars(string1):
    return(len(string1))

word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort()
print(word_list)

word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort(key = compare_num_of_chars)
print(word_list)

['C', 'Python', 'better', 'is', 'than']
['C', 'is', 'than', 'Python', 'better']

In [26]:
x = (4, 3, 1, 2)
y = sorted(x)
y
z = sorted(x, reverse=True)
z

[1, 2, 3, 4]

[4, 3, 2, 1]

In [27]:
def compare_second_element(list1):
    return(list1[1])

my_list = [[1, 2, 3], [2, 1, 3], [4, 0, 1]]
my_list.sort(key=compare_second_element)
print(my_list)

[[4, 0, 1], [2, 1, 3], [1, 2, 3]]

## 5.5 Other common list operations

In [28]:
3 in [1, 3, 4, 5]
3 not in [1, 3, 4, 5]
3 in ["one", "two", "three"]
3 not in ["one", "two", "three"]

True

False

False

True

In [29]:
z = [1, 2, 3] +[4, 5]
z

[1, 2, 3, 4, 5]

In [30]:
z = [None] * 4 # allocated 4 spots in memory, use list multiplier operator
z
z = [3, 1] * 2
z

[None, None, None, None]

[3, 1, 3, 1]

In [30]:
min([3, 7, 0, -2, 11])
max([4, "Hello", [1,2]]) # mixed types fail

-2

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
x = [1, 3, "five", 7, -2]
x.index(7)
x.index("five")
x.index(5)

3

2

ValueError: 5 is not in list

In [32]:
x = [1, 2, 2, 3, 5, 2, 5]
x.count(2)
x.count(5)
x.count(4)

3

2

0

In [33]:
len([[1,2]]*3) # should be 3

3

In [34]:
min(['a', 'b', 'c'])

'a'

In [35]:
max([1, 2, "three"]) # mixed types fail

TypeError: '>' not supported between instances of 'str' and 'int'

In [36]:
[1, 2, 3].count("one")

0

In [37]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10, 3j]
item = "item 1"
if item in x:
    del x[x.index(item)]
x

[2, 3j, 4.0, 'item 5', 6, 7j, 8.0, 'item 9', 10, 3j]

In [38]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10, 3j]
item = "1"
if item in x:
    del x[x.index(item)]
x

['item 1', 2, 3j, 4.0, 'item 5', 6, 7j, 8.0, 'item 9', 10, 3j]

In [39]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10, 3j]
item = 3j
if x.count(item) > 1:
    while item in x:
        del x[x.index(item)]
x

['item 1', 2, 4.0, 'item 5', 6, 7j, 8.0, 'item 9', 10]

In [40]:
x = ["item 1", 2, 3j, 4.0, "item 5", 6, 7j, 8.0, "item 9", 10, 3j]
item = 2
if x.count(item) > 1:
    while item in x:
        del x[x.index(item)]
x

['item 1', 2, 3j, 4.0, 'item 5', 6, 7j, 8.0, 'item 9', 10, 3j]

## 5.6 Nested lists and deep copies

In [41]:
m = [[0,1,2], [10,11,12], [20, 21, 22]]
m[0]
m[0][1]
m[2]
m[2][2]

[0, 1, 2]

1

[20, 21, 22]

22

In [42]:
nested = [0]
original  = [nested, 1]
original

[[0], 1]

In [43]:
nested[0] = 'zero'
original
original[0][0] = 0
nested
original

[['zero'], 1]

[0]

[[0], 1]

In [44]:
nested = [2] # breaks connection! whaaaa
original

[[0], 1]

In [45]:
original = [[0], 1]
shallow = original[:]
import copy
deep = copy.deepcopy(original)

In [46]:
shallow[1] = 2
shallow
original
deep

[[0], 2]

[[0], 1]

[[0], 1]

In [47]:
shallow[0][0] = 'zero'
shallow
original
deep

[['zero'], 2]

[['zero'], 1]

[[0], 1]

In [48]:
deep[0][0] = 5
deep
shallow
original

[[5], 1]

[['zero'], 2]

[['zero'], 1]

In [49]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y = copy.deepcopy(x)
x[0][0] = 'one'
x
y

[['one', 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 5.7 Tuples

In [50]:
type(())
type((1))
type((1,))
type((1,1))

tuple

int

tuple

tuple

In [51]:
(one, two, three, four) = (1, 2, 3, 4)
one
two

1

2

In [52]:
one, two, three, four = 1, 2, 3, 4
one
two

1

2

In [53]:
x = (1, 2, 3, 4)
a, b, *c = x
a
b
c
a, b, c

1

2

[3, 4]

(1, 2, [3, 4])

In [54]:
a, *b, c = (x) # starred element receives surplus items as list, or zero elments
a, b, c

(1, [2, 3], 4)

In [55]:
*a, b, c = x
a, b, c

([1, 2], 3, 4)

In [56]:
a, b, c, d, *e = x
a, b, c, d, e

(1, 2, 3, 4, [])

In [57]:
a, b, *c, d, e = x
a, b, c, d, e

(1, 2, [], 3, 4)

In [58]:
list((1, 2, 3, 4))
tuple([1, 2, 3, 4])

[1, 2, 3, 4]

(1, 2, 3, 4)

In [59]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

Given:

`x = (1, 2, 3, 4)`

`x.append(1)`, `x[1] = "hello"`, and ` del x [2]` do not work because tuples are immutable

In [60]:
x = (3, 1, 4, 2)
x = tuple(sorted(x))
x

(1, 2, 3, 4)

## 5.8 Sets

In [61]:
x = set([1, 2, 3, 1, 3, 5])
x
x.add(6)
x
x.remove(5)
x
1 in x
4 in x
y = set([1, 7, 8 ,9])
x | y # union
x & y # intersection
x ^ y # union - intersection

{1, 2, 3, 5}

{1, 2, 3, 5, 6}

{1, 2, 3, 6}

True

False

{1, 2, 3, 6, 7, 8, 9}

{1}

{2, 3, 6, 7, 8, 9}

## Lab 5 Examining a list

In [62]:
temperatures = []
with open('/Users/miceli/GitHub/qpbe3e/exercise_answers/lab_05.txt', 'r') as infile:
    for row in infile:
        temperatures.append(float(row.strip()))

In [63]:
print(f'Max temp was {max(temperatures)}')
print(f'Min temp was {min(temperatures)}')

Max temp was 28.2
Min temp was 0.8

In [64]:
def mean(input_list):
    return(sum(input_list) / len(input_list))
    
print(f'Mean temp was {mean(temperatures)}')

Mean temp was 14.848309178743966

In [65]:
def median(input_list):
    sorted_list = sorted(input_list)
    n = len(sorted_list)
    if n % 2 == 0:
        return(0.5*(sorted_list[(n // 2) - 1] + sorted_list[n // 2]))
    else:
        return(sorted_list[n // 2])

print(median([1,1,2,3,4]))
print(median([1,1,1,2,3,4]))

2
1.5

In [66]:
print(f'Median temp was {median(temperatures)}')

Median temp was 14.7